@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-one: #23BE0A;
  --color-two: #59C6D2;
  --font-play: "Playfair Display", serif;
  --font-work: "Work Sans", sans-serif;
  --color-three: #13131305;
  --color-four: #F3F3F3;
  --color-text: #13131370;
}

@layer utilities {
  .btn-one {
    @apply bg-one text-white rounded-lg;
  }
  .btn-two {
    @apply bg-two text-white rounded-lg;
  }
  .tag-one {
    @apply bg-four text-one rounded-lg;
  }
}